/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f9fafb inset !important;
  -webkit-text-fill-color: #000 !important;
}
